{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <div class="p-4 m-4">
        <div class="col-lg-8 mx-auto border rounded pt-4">
            <h3 class="alert alert-light border rounded">login</h3>
            <form method="POST">
                {%csrf_token%}
                {{ form|crispy }}
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">Login</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

